<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 border-bottom bg-light">
    <a href="<%= root_path %>" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
      <img src="https://i.ibb.co/x1qg1zh/LOGO-PNG-APRENDE-YA.png" style= "width: 7vw" class= "navbar-brand" alt="">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><%= link_to "Home", root_path, class: "nav-link px-2 link-secondary" %></li>
      <li><%= link_to "Cursos", courses_path, class: "nav-link px-2 link-secondary" %></li>
      <li><%= link_to "Soluciones", solutions_path, class: "nav-link px-2 link-secondary" %></li>
      <li><a href="#" class="nav-link px-2 link-secondary">Notas</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <%= link_to "Inicia aquí", user_session_path, class: "btn btn-primary" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary me-2" %>
    </div>
  </header>
</div>
