<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 border-bottom bg-light">
    <a href="<%= root_path %>" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
      <img src="https://i.ibb.co/x1qg1zh/LOGO-PNG-APRENDE-YA.png" style= "width: 7vw" class= "navbar-brand" alt="">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><%= link_to "Home", root_path, class: "nav-link px-2 link-secondary" %></li>
      <li><%= link_to "Cursos", courses_path, class: "nav-link px-2 link-secondary" %></li>
      <li><%= link_to "Soluciones", solutions_path, class: "nav-link px-2 link-secondary" %></li>
    </ul>
    <div class="col-md-3 text-end">
      <% if user_signed_in? %>
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar , class:"avatar" %>
            <% else %>
              <i class="fa-solid fa-user-astronaut" class=" avatar"></i>
            <% end %>
          </a>
          <ul class="dropdown-menu text-small shadow dropdown-menu-end" aria-labelledby="dropdownUser2" style="">
            <li><%= link_to "Historial Academico", academic_record_path, class:"dropdown-item"%></li>
            <li><%= link_to "Editar Usuario", edit_user_registration_path, class:"dropdown-item"%></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Salir", destroy_user_session_path, method: :delete ,class:"dropdown-item"%></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Inicia aquí", user_session_path, class: "btn btn-primary" %>
        <%= link_to "Registrate", new_user_registration_path, class: "btn btn-outline-primary me-2" %>
      <% end %>
    </div>
  </header>
</div>
