<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary rounded">
      <h1 class="text-light"><%= image_tag @course.course_img , class:'shadow avatar-medium me-3'%><%= @course.name %></h1>
    </div>
  </div>
  <div class="container units pt-4">

    <div class="container">
      <% @course.units.each do |u| %>
        <% unless Enrollment.find_by(course: @course,student:current_user).blank? %>
          <a href="<%= url_for(u) %>" style="text-decoration: none;color: black">
        <% end %>
            <div class="unit card my-3 bg-warning">
              <div class="card-header">
                <h3><%= image_tag u.unit_img , class:'shadow avatar-medium ms-5 me-3'%><%= u.title %></h3>
              </div>
              <div class="card-body">
                <h4 class="ms-5">Actividades:</h4>
                <div class="d-flex justify-content-evenly">
                  <p class="text-center fs-4">Clases: <%= u.activities.activity_type_clase.count %></p>
                  <p class="text-center fs-4">Ejercicios: <%= u.activities.activity_type_ejercicio.count %></p>
                  <p class="text-center fs-4">Recursos: <%= u.activities.activity_type_recurso.count %></p>
                </div>
              </div>
              <div class="card-footer">
                <p class="text-center fs-6"><%= ejercicios_pendientes = u.activities.activity_type_ejercicio.joins("LEFT OUTER JOIN (#{Solution.joins(:enrollment).where(enrollment:{student: current_user}).to_sql}) AS result  ON activities.id = result.activity_id").where("result.id IS NULL").count %> ejercicio<%= ejercicios_pendientes==1 ? '' : 's' %> por resolver</p>
              </div>
            </div>
        <% if Enrollment.find_by(course: @course,student:current_user).blank? %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <% if Enrollment.find_by(course: @course,student:current_user).blank? %>
      <%= button_to 'Matriculate', course_enrollments_path(params[:id]),method: :post, class:"btn btn-danger my-3 fs-4" %>
    <% end %>
  </div>
</div>
