<div class="container">
  <div class="card my-4">
    <div class="card-header bg-info rounded">
      <h1 class="text-light text-center"><%= params[:type].capitalize %>s</h1>
    </div>
  </div>
  <div class="container activities grid">
    <% @activities.each do |a| %>
      <div class="g-col-4">
        <%= link_to a, style:"text-decoration: none;color: white" do %>
          <div class="course card bg-info d-flex h-100">
            <div class="card-header flex-grow-1 d-flex flex-column justify-content-center align-items-center">
              <% unless current_user.teacher %>
                <% if a.activity_type_ejercicio? %>
                  <% if a.solutions.joins(:enrollment).find_by(enrollment: { student: current_user }).blank? %>
                    <span><i class="fas fa-circle" style="color:red"></i> Pendiente</span>
                  <% else %>
                    <span><i class="fas fa-check" style="color:green"></i> Hecho</span>
                  <% end %>
                <% end %>
              <% end %>
              <h3 class="text-center"><%= a.title %></h3>
            </div>
            <div class="card-body text-center flex-grow-0 " style="height:min-content;">
              <%= a.activity_type_clase? ? cl_image_tag(a.file.key,:transformation=>[
              {:width=>550, :crop=>"scale"},
              {:fetch_format=>:auto}
              ], class:'w-75 my-3 rounded', :resource_type=>"video") : cl_image_tag(a.file.key,:transformation=>[
              {:width=>550, :crop=>"scale"},
              {:fetch_format=>:auto}
              ], class:'w-75 my-3 rounded')%>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if current_user.teacher %>
      <div class="g-col-4">
        <%= link_to new_unit_activity_path(params[:unit_id]) , style:"text-decoration: none;color: white" do %>
          <div class="course card bg-info d-flex h-100">
            <div class="card-header flex-grow-0 d-flex flex-column justify-content-center align-items-center">
              <h3 class="text-center">Crear Actividad</h3>
            </div>
            <div class="card-body flex-grow-1 d-flex justify-content-center align-items-center" style="height:min-content;">
              <%=  cl_image_tag("v1644591561/new_file_white_wvqzrq.svg",:transformation=>[
              {:width=>550, :crop=>"scale"},
              {:fetch_format=>:auto}
              ], class:'w-75 my-3 rounded')%>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
