<div class="container mt-4">
  <div class="d-flex flex-row m-3 align-items-center justify-content-around">
    <div class="activity-show-details w-75">
      <div class="card bg-warning w-100">
        <div class="card-header">

          <h3><%= @solution.activity.title %></h3>
        </div>
        <div class="card-body">
          <p><%= @solution.activity.description %></p>
        </div>
        <div class="card-footer">
          <p class="fw-bold">Alumno: <%= @solution.enrollment.user.full_name %></p>
        </div>
      </div>
      <div class="file-preview d-flex justify-content-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal" data-bs-target="#activity_file">
          <%= image_tag @solution.activity.file.preview(resize_to_limit: [450, 450]), class:'w-100 rounded'%>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="activity_file" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog" style="width:50vw;max-width:50vw">
            <div class="modal-content">
              <div class="modal-header">
                <%= link_to  @solution.activity.file, class:'btn btn-secondary mr-3' do%>
                  <i class="fas fa-external-link-alt"></i>
                <% end %>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <iframe
                class="w-100"
                style="height:60vh;"
                src=<%= url_for(@solution.activity.file) %>></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-primary " style="width:22%">
      <div class="card-header bg-primary text-light">
        <h3>Detalles de la solucion</h3>
      </div>
      <div class="card-body text-dark text-center">
        <div class="form-floating mb-3">
          <input type="number" name="solution[score]" id="solution_score" <%= raw("value=#{@solution.score}") unless @solution.score.nil? %> form="solution_form" placeholder=' ' class="form-control">
          <label for="solution_score">Nota</label>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#solution_file" style="width:90%">
          <%= image_tag @solution.file.preview(resize_to_limit: [350, 350]), class:'w-100 rounded'%>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="solution_file" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog" style="width:50vw;max-width:50vw">
            <div class="modal-content">
              <div class="modal-header">
                <%= link_to  @solution.file, class:'btn btn-secondary mr-3' do%>
                  <i class="fas fa-external-link-alt"></i>
                <% end %>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <iframe
                class="w-100"
                style="height:60vh;"
                src=<%= url_for(@solution.file) %>></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" name="solution[comment]" id="solution_comment" <%= raw("value='#{@solution.comment}'") unless @solution.comment.nil? %> form="solution_form" placeholder=' ' class="form-control">
          <label for="solution_comment">Comentario</label>
        </div>
        <%= form_for @solution, html: {id: "solution_form"} do |f| %>
          <%= f.submit "#{@solution.score.nil? ? 'Calificar' : 'Editar Calificacion'}", class:'btn btn-primary'%>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Back to Solutions', solutions_path , class:'btn btn-primary' %>
</div>
