<!-- app/views/layouts/application.html.erb-->

<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>AprendeYa!</title>
    <link rel="icon"
      type="image/png"
      href="https://i.ibb.co/x1qg1zh/LOGO-PNG-APRENDE-YA.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- This refers to app/javascript/stylesheets/application.scss-->
    <%# <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light d-flex flex-column h-100">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


    <main class="flex-shrink-0"><%= yield %></main>

    <%= render 'shared/footer' %>
  </body>
</html>
